@import url("https://use.typekit.net/marydale.css");

body {
  margin: 0;
  font-family: 'marydale', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    'marydale';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'marydale', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  marydale;
}
