@font-face {
  font-family: "marydale";
  src: url("./components/Marydale.ttf") format("ttf");
 }

body {
  margin: 0;
  font-family: marydale, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'marydale', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  marydale;
}
