.root {
  width: 1440px;
  height: 71px;
  display: block;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.group1 {
  mix-blend-mode: normal;
  transform: translate(-0.23900000000003274px, 0px);
  width: 35px;
  height: 37px;
  display: block;
  position: absolute;
  top: 24px;
  left: 1166px;
}
.frame {
  width: 35px;
  height: 37px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.group {
  transform: translate(0.001px, -0.003px);
  width: 35px;
  height: 38px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.objects {
  width: 35px;
  height: 38px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.svg__mT5Zx {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  mix-blend-mode: multiply;
  width: 34.902px;
  height: 37.001px;
  display: block;
  top: 0px;
  left: 0px;
}
.svg___3Vlbh {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  transform: translate(0.2370000000000001px, 0.002000000000000668px);
  width: 20px;
  height: 16px;
  display: block;
  top: 29.72%;
  left: 25.78%;
}
.svg__m2Guj {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  transform: translate(0.06199999999999761px, -0.1980000000000004px);
  width: 1px;
  height: 1px;
  display: block;
  top: 35.13%;
  left: 77.35%;
}
.group2 {
  transform: translate(-0.3689999999999145px, 0px);
  width: 37px;
  height: 36px;
  display: block;
  position: absolute;
  top: 24px;
  left: 1213px;
}
.frame2 {
  mix-blend-mode: normal;
  width: 37px;
  height: 36px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.group3 {
  transform: translate(-0.003px, -0.001px);
  width: 37px;
  height: 37px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.objects2 {
  width: 37px;
  height: 37px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.svg__mhx0M {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  mix-blend-mode: multiply;
  width: 36.899px;
  height: 36.01px;
  display: block;
  top: 0px;
  left: 0px;
}
.svg__gs9Bi {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  transform: translate(0.37100000000000044px, 0px);
  width: 18px;
  height: 16px;
  display: block;
  top: 30.54%;
  left: 27.1%;
}
.svg__nm19 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  transform: translate(0.46000000000000085px, 0.09799999999999898px);
  width: 5px;
  height: 7px;
  display: block;
  top: 38.87%;
  left: 29.81%;
}
.group4 {
  transform: translate(0.49499999999989086px, 0px);
  width: 36px;
  height: 34px;
  display: block;
  position: absolute;
  top: 26px;
  left: 1261px;
}
.frame3 {
  mix-blend-mode: normal;
  width: 36px;
  height: 34px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.group5 {
  transform: translate(-0.003px, 0.015px);
  width: 36px;
  height: 34px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.objects3 {
  width: 36px;
  height: 34px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.svg__zC4V0 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  mix-blend-mode: multiply;
  width: 35.902px;
  height: 33.982px;
  display: block;
  top: 0px;
  left: 0px;
}
.svg___2OlUc {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  transform: translate(-0.4930000000000003px, -0.015000000000000568px);
  width: 17px;
  height: 14px;
  display: block;
  top: 32.37%;
  left: 27.85%;
}
.group6 {
  transform: translate(0.36200000000008004px, 0px);
  width: 34px;
  height: 34px;
  display: block;
  position: absolute;
  top: 26px;
  left: 1309px;
}
.frame4 {
  mix-blend-mode: normal;
  width: 34px;
  height: 34px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.group7 {
  transform: translate(-0.001px, -0.003px);
  width: 34px;
  height: 35px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.objects4 {
  width: 34px;
  height: 35px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.svg__vDaUv {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  mix-blend-mode: multiply;
  width: 33.905px;
  height: 34.002px;
  display: block;
  top: 0px;
  left: 0px;
}
.svg__kog9Z {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  transform: translate(0.4139999999999997px, 0.30100000000000016px);
  width: 15px;
  height: 16px;
  display: block;
  top: 26.46%;
  left: 29.49%;
}
.svg__iEzyp {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  transform: translate(-0.009000000000000341px, -0.03999999999999915px);
  width: 2px;
  height: 2px;
  display: block;
  top: 35.29%;
  left: 61.93%;
}
.svg__m7WIy {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  transform: translate(0.014999999999998792px, -0.06300000000000061px);
  width: 8px;
  height: 8px;
  display: block;
  top: 38.23%;
  left: 41.29%;
}
.svg__eoTFg {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  transform: translate(-0.028999999999999915px, -0.03999999999999915px);
  width: 2px;
  height: 2px;
  display: block;
  top: 35.29%;
  left: 61.93%;
}
.group8 {
  mix-blend-mode: normal;
  transform: translate(0.22700000000008913px, 0px);
  width: 33px;
  height: 35px;
  display: block;
  position: absolute;
  top: 25px;
  left: 1358px;
}
.frame5 {
  mix-blend-mode: normal;
  width: 33px;
  height: 35px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.group9 {
  width: 33px;
  height: 36px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.objects5 {
  width: 33px;
  height: 36px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.svg__eiDnJ {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  mix-blend-mode: multiply;
  width: 32.907px;
  height: 35.001px;
  display: block;
  top: 0px;
  left: 0px;
}
.circle {
  transform: translate(-0.10299999999999976px, 0.02999999999999936px);
  width: 16px;
  height: 15px;
  display: block;
  position: absolute;
  top: 10px;
  left: 9px;
}
.svg__cQlus {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 15.112px;
  height: 14.945px;
  display: block;
  top: 0px;
  left: 0px;
}
.group10 {
  transform: translate(0.21000000000003638px, 0px);
  width: 90px;
  height: 29px;
  display: block;
  position: absolute;
  top: 28px;
  left: 1004px;
}
.img__zJmSi {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  width: 89.75px;
  height: 29px;
  display: block !important;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.img__zJmSi > picture > img {
  object-fit: cover;
}
.img__zJmSi > .__wab_img-spacer > img {
  object-fit: cover;
}
.link {
  display: block;
  font-size: 12px;
  font-family: "Marydale";
  font-weight: 900;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 7px;
  left: 30px;
  width: 30px;
  transform: translate(-0.08300000000008367px, 0px);
}
.group11 {
  transform: translate(0.4759999999999991px, 0px);
  width: 85px;
  height: 26px;
  display: block;
  position: absolute;
  top: 31px;
  left: 908px;
}
.img__gbE5U {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  width: 84.764px;
  height: 26px;
  display: block !important;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.img__gbE5U > picture > img {
  object-fit: cover;
}
.img__gbE5U > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__tl8V {
  display: block;
  font-size: 12px;
  font-family: "Marydale";
  font-weight: 900;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 4px;
  left: 14px;
  width: 57px;
  transform: translate(-0.03899999999998727px, 0px);
}
.group12 {
  width: 96px;
  height: 30px;
  display: block;
  position: absolute;
  top: 29px;
  left: 707px;
}
.svg__nvQnj {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(-179.94270423958343deg) skew(0.05729570311883569deg, 0deg);
  width: 96px;
  height: 30px;
  display: block;
  transform-origin: top left;
  top: 100%;
  left: 100%;
}
.text__cJpew {
  display: block;
  font-size: 12px;
  text-align: center;
  font-family: "Marydale";
  font-weight: 900;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 5px;
  left: 11px;
  width: 73px;
  height: 14px;
}
.group13 {
  transform: translate(-0.18299999999999272px, -0.31599999999999895px);
  width: 89px;
  height: 44px;
  display: block;
  position: absolute;
  top: 21px;
  left: 613px;
}
.img__fsyrM {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  transform: scale(0.999336780069662, 0.9993367800696621)
    rotate(5.339770308831057deg) translate(0.32600000000002183px, 0px);
  width: 85.763px;
  height: 35.768px;
  display: block !important;
  transform-origin: top left;
  top: 0px;
  left: 3px;
  overflow: hidden;
}
.img__fsyrM > picture > img {
  object-fit: cover;
}
.img__fsyrM > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__wgqh {
  display: block;
  font-size: 12px;
  font-family: "Marydale";
  font-weight: 900;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 14px;
  left: 16px;
  width: 55px;
  transform: translate(0.43499999999994543px, 0.31599999999999895px);
}
.group14 {
  transform: translate(-0.25300000000004275px, 0px);
  width: 85px;
  height: 30px;
  display: block;
  position: absolute;
  top: 28px;
  left: 811px;
}
.svg__m9Ryl {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 85px;
  height: 30px;
  display: block;
  top: 0%;
  left: 0%;
}
.text__pShL {
  display: block;
  font-size: 12px;
  font-family: "Marydale";
  font-weight: 900;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 7px;
  left: 13px;
  width: 59px;
  transform: translate(-0.03599999999994452px, 0px);
}
.group15 {
  transform: translate(0px, -0.04299999999999926px);
  width: 117px;
  height: 37px;
  display: block;
  position: absolute;
  top: 18px;
  left: 24px;
}
.rectangle1 {
  background: rgba(255, 115, 115, 1);
  transform: translate(-0.08099999999999952px, 0.04199999999999804px);
  width: 92px;
  height: 29px;
  display: block;
  position: absolute;
  top: 3px;
  left: 5px;
  border-radius: 9px;
}
.text__oe5F {
  display: block;
  font-size: 22px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 4px;
  left: 19px;
  width: 64px;
  transform: translate(-0.11999999999999744px, 0.04199999999999804px);
}
.signat101 {
  background: url("./images/signat101.png") center center / cover no-repeat;
  transform: scale(0.9999684995038595, 0.9999244981177938)
    rotate(-2.521907948040579deg) skew(-0.05724207094029576deg, 0deg)
    translate(0px, -0.0259999999999998px);
  width: 116px;
  height: 32px;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 5px;
  left: 0px;
}
