.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-end;
  align-items: center;
  max-width: 1327px;
  min-width: 0;
  padding: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    flex-shrink: 0;
    max-width: none;
    height: auto;
    background: var(--token-XhAnDcyiC);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-column-gap: 0px;
  }
}
.navigationBar:global(.__wab_instance) {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navigationBar:global(.__wab_instance) {
    height: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    position: relative;
    left: auto;
    top: auto;
    flex-row-gap: 0px;
    min-height: 0;
  }
}
.link__itcKm {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.linklight__itcKmBLk3V {
  filter: blur(0px);
}
.img {
  object-fit: cover;
  height: 40px;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__b4Qlz {
  object-fit: cover;
}
.img__b4Qlz > picture > img {
  object-fit: cover;
}
.img__b4Qlz > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__xRx6F {
  object-fit: cover;
}
.img__xRx6F > picture > img {
  object-fit: cover;
}
.img__xRx6F > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox {
    display: flex;
    flex-direction: column;
    padding: 48px 0px 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 115px);
    height: calc(100% + 115px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox > :global(.__wab_flex-container) > *,
  .freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox > :global(.__wab_flex-container) > picture > img,
  .freeBox
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 115px;
  }
}
.menuCont {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuCont {
    display: flex;
    flex-direction: column;
    flex-column-gap: 0px;
  }
}
.link___70Kzq {
  width: auto;
  height: auto;
  max-width: 800px;
  background: url("./images/frame15.svg") top 50% left 50% / contain no-repeat;
  color: #ffffff;
  font-family: "Marydale";
  padding: 16px 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___70Kzq {
    color: #ffffff;
    text-align: center;
  }
}
.link__p31H1 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  background: url("./images/frame17.svg") top 50% left 50% / contain no-repeat;
  color: #ffffff;
  font-family: "Marydale";
  padding: 16px 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__p31H1 {
    text-align: center;
  }
}
.link__u03Ge {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  background: url("./images/frame15.svg") top 50% left 50% / contain no-repeat;
  color: #ffffff;
  font-family: "Marydale";
  padding: 16px 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__u03Ge {
    text-align: center;
  }
}
.link__bFdFf {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  background: url("./images/frame17.svg") top 50% left 50% / contain no-repeat;
  color: #ffffff;
  font-family: "Marydale";
  padding: 16px 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__bFdFf {
    text-align: center;
  }
}
.link__u2Ot5 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  background: url("./images/frame13.svg") top 50% left 50% / contain no-repeat;
  color: #ffffff;
  font-family: "Marydale";
  display: none;
  padding: 16px 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__u2Ot5 {
    text-align: center;
  }
}
.socialContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-left: calc(0px + 32px) !important;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .socialContainer {
    align-items: center;
    justify-content: center;
    margin-top: calc(0px + 115px) !important;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: calc(0px + 0px) !important;
    padding: 0px;
  }
}
.link___4XxE0 {
  display: flex;
}
.twitter {
  mix-blend-mode: normal;
  width: 35px;
  height: 37px;
  display: block;
  flex-shrink: 0;
}
.frame {
  width: 35px;
  height: 37px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.group {
  transform: translate(0.001px, -0.003px);
  width: 35px;
  height: 38px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.objects {
  width: 35px;
  height: 38px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.svg__n8Ry0 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  mix-blend-mode: multiply;
  width: 34.902px;
  height: 37.001px;
  display: block;
  top: 0px;
  left: 0px;
}
.svg__dhg1B {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  transform: translate(0.2370000000000001px, 0.002000000000000668px);
  width: 20px;
  height: 16px;
  display: block;
  top: 29.72%;
  left: 25.78%;
}
.svg___5A0Oq {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  transform: translate(0.06199999999999761px, -0.1980000000000004px);
  width: 1px;
  height: 1px;
  display: block;
  top: 35.13%;
  left: 77.35%;
}
.link__jaOg7 {
  align-self: auto;
  display: flex;
}
.etherscan {
  mix-blend-mode: normal;
  width: 33px;
  height: 35px;
  display: block;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  flex-shrink: 0;
}
.group5 {
  width: 33px;
  height: 36px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.objects5 {
  width: 33px;
  height: 36px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.svg___1C0Ni {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  mix-blend-mode: multiply;
  width: 32.907px;
  height: 35.001px;
  display: block;
  top: 0px;
  left: auto;
  right: 0px;
  transition-property: all;
  transition-duration: 1s;
}
.circle {
  transform: translate(-0.10299999999999976px, 0.02999999999999936px);
  width: 16px;
  height: 15px;
  display: block;
  position: absolute;
  top: 10px;
  left: 9px;
}
.svg___5Ycnb {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 15.112px;
  height: 14.945px;
  display: block;
  top: 0px;
  left: 0px;
}
.link__rLZnN {
  display: flex;
}
.instagram {
  mix-blend-mode: normal;
  width: 34px;
  height: 34px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.instagram2 {
  transform: translate(-0.001px, -0.003px);
  width: 34px;
  height: 35px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.objects4 {
  width: 34px;
  height: 35px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.svg__pZyu4 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  mix-blend-mode: multiply;
  width: 33.905px;
  height: 34.002px;
  display: block;
  top: 0px;
  left: 0px;
}
.svg__tvFZq {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  transform: translate(0.4139999999999997px, 0.30100000000000016px);
  width: 15px;
  height: 16px;
  display: block;
  top: 26.46%;
  left: 29.49%;
}
.svg__k6OtS {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  transform: translate(-0.009000000000000341px, -0.03999999999999915px);
  width: 2px;
  height: 2px;
  display: block;
  top: 35.29%;
  left: 61.93%;
}
.svg__p4Z9K {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  transform: translate(0.014999999999998792px, -0.06300000000000061px);
  width: 8px;
  height: 8px;
  display: block;
  top: 38.23%;
  left: 41.29%;
}
.svg__pYe8N {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  transform: translate(-0.028999999999999915px, -0.03999999999999915px);
  width: 2px;
  height: 2px;
  display: block;
  top: 35.29%;
  left: 61.93%;
}
.link__kTlbb {
  display: flex;
}
.discord {
  mix-blend-mode: normal;
  width: 36px;
  height: 34px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.discord2 {
  transform: translate(-0.003px, 0.015px);
  width: 36px;
  height: 34px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.objects3 {
  width: 36px;
  height: 34px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.svg__lRuBt {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  mix-blend-mode: multiply;
  width: 35.902px;
  height: 33.982px;
  display: block;
  top: 0px;
  left: 0px;
}
.svg__q3MoY {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  transform: translate(-0.4930000000000003px, -0.015000000000000568px);
  width: 17px;
  height: 14px;
  display: block;
  top: 32.37%;
  left: 27.85%;
}
.link__iuZkv {
  display: flex;
}
.opensea {
  mix-blend-mode: normal;
  width: 37px;
  height: 36px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.group2 {
  transform: translate(-0.003px, -0.001px);
  width: 37px;
  height: 37px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.objects2 {
  width: 37px;
  height: 37px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.svg___3Ck1I {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  mix-blend-mode: multiply;
  width: 36.899px;
  height: 36.01px;
  display: block;
  top: 0px;
  left: 0px;
}
.svg___2DSwh {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  transform: translate(0.37100000000000044px, 0px);
  width: 18px;
  height: 16px;
  display: block;
  top: 30.54%;
  left: 27.1%;
}
.svg__pZDya {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  transform: translate(0.46000000000000085px, 0.09799999999999898px);
  width: 5px;
  height: 7px;
  display: block;
  top: 38.87%;
  left: 29.81%;
}
