.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--token-h6RawRnEP);
  min-width: 0;
  min-height: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
.header:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.section {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  flex-shrink: 0;
  height: auto;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 42px;
    padding-bottom: 42px;
    flex-shrink: 1;
    flex-column-gap: 0px;
  }
}
.scroll {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  max-width: 100%;
  overflow: auto;
  flex-shrink: 0;
  flex-grow: 0;
  max-height: 85vh;
}
@media (min-width: 0px) and (max-width: 768px) {
  .scroll {
    width: 100%;
    max-height: none;
    min-width: 0;
  }
}
.freeBox {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-shrink: 1;
  min-width: 0;
  padding: 0px;
}
._1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__vMrwr {
  object-fit: contain;
  max-width: 100%;
  width: 200px;
  cursor: pointer;
}
.img__vMrwr > picture > img {
  object-fit: contain;
}
.img__vMrwr > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
._2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__eSwrd {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 200px;
  cursor: pointer;
}
.img__eSwrd > picture > img {
  object-fit: cover;
}
.img__eSwrd > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
._3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.img___6MPu {
  object-fit: cover;
  max-width: 100%;
  width: 200px;
  cursor: pointer;
}
.img___6MPu > picture > img {
  object-fit: cover;
}
.img___6MPu > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
._4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__noPjS {
  object-fit: contain;
  max-width: 100%;
  width: 200px;
  cursor: pointer;
}
.img__noPjS > picture > img {
  object-fit: contain;
}
.img__noPjS > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
._5 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__saprZ {
  object-fit: contain;
  max-width: 100%;
  width: 200px;
  cursor: pointer;
}
.img__saprZ > picture > img {
  object-fit: contain;
}
.img__saprZ > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
._6 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img___9G20H {
  object-fit: cover;
  max-width: 100%;
  width: 200px;
  cursor: pointer;
}
.img___9G20H > picture > img {
  object-fit: cover;
}
.img___9G20H > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
._7 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__t5RYy {
  object-fit: contain;
  max-width: 100%;
  width: 200px;
  cursor: pointer;
}
.img__t5RYy > picture > img {
  object-fit: contain;
}
.img__t5RYy > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
._8 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img___7G5Ph {
  object-fit: contain;
  max-width: 100%;
  width: 200px;
  cursor: pointer;
}
.img___7G5Ph > picture > img {
  object-fit: contain;
}
.img___7G5Ph > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
._9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img___3AfM1 {
  object-fit: contain;
  max-width: 100%;
  width: 200px;
  cursor: pointer;
}
.img___3AfM1 > picture > img {
  object-fit: contain;
}
.img___3AfM1 > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
._10 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__hgaod {
  object-fit: contain;
  max-width: 100%;
  width: 200px;
  cursor: pointer;
}
.img__hgaod > picture > img {
  object-fit: contain;
}
.img__hgaod > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
._11 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__dCnGj {
  object-fit: contain;
  max-width: 100%;
  width: 200px;
  cursor: pointer;
}
.img__dCnGj > picture > img {
  object-fit: contain;
}
.img__dCnGj > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
._12 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__xHs2L {
  object-fit: contain;
  max-width: 100%;
  width: 200px;
  cursor: pointer;
}
.img__xHs2L > picture > img {
  object-fit: contain;
}
.img__xHs2L > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.bigImage {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 60%;
  height: 100%;
  max-width: 100%;
  max-height: 85vh;
  background: url("./images/nft3.png") top 50% left 50% / contain no-repeat;
  min-height: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .bigImage {
    width: 100%;
    height: 384px;
    min-width: 0;
    flex-shrink: 0;
  }
}
.main {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  display: none !important;
}
.main > picture > img {
  object-fit: cover;
}
.main > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .main {
    display: none !important;
  }
}
