.root {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    background: none;
  }
}
.header:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.heroSection {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  background: none;
  flex-shrink: 0;
  flex-grow: 1;
  min-width: 0;
  padding: var(--token-GwLpY0L1k);
}
@media (min-width: 0px) and (max-width: 768px) {
  .heroSection {
    background: none;
  }
}
.img__prq0R {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__prq0R > picture > img {
  object-fit: cover;
}
.img__prq0R > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__aw9UI {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  background: url("./images/vector2Png.png") top 50% left 50% / contain no-repeat;
  color: #ffffff;
  font-size: 43px;
  min-width: 0;
}
.argumentSection {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: url("./images/stickers13Png.png") top 2% left 4% / 25% auto no-repeat;
  padding-top: var(--token-GNJGzP5bB);
  min-width: 0;
}
.argumentSection > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.argumentSection > :global(.__wab_flex-container) > *,
.argumentSection > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.argumentSection > :global(.__wab_flex-container) > picture > img,
.argumentSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .argumentSection {
    background: url("./images/stickers16Png.png") top 58% left 179% / 75% auto no-repeat,
      url("./images/stickers13Png.png") top 0% left -102% / 75% auto no-repeat;
  }
}
.childhood {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .childhood {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-column-gap: 0px;
    min-width: 0;
  }
}
.freeBox__dDCi9 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__dDCi9 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  margin-top: calc(0px - 61px);
  height: calc(100% + 61px);
}
.freeBox__dDCi9 > :global(.__wab_flex-container) > *,
.freeBox__dDCi9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dDCi9 > :global(.__wab_flex-container) > picture > img,
.freeBox__dDCi9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 61px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dDCi9 {
    padding: var(--token-NBv66ILA2);
  }
}
.h2__uiT5 {
  width: auto;
  height: auto;
  color: var(--token-XhAnDcyiC);
  background: url("./images/vector1Png.png") top 50% left 0% / cover no-repeat;
  font-family: "Marydale";
  text-align: center;
  line-height: 0.82;
  align-self: flex-end;
  text-transform: uppercase;
  padding: var(--token-xu09rnoJl) var(--token-xu09rnoJl) var(--token-xu09rnoJl)
    197px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__uiT5 {
    padding: var(--token-xu09rnoJl) var(--token-NBv66ILA2);
  }
}
.freeBox__tKbp {
  flex-direction: column;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 60%;
  margin-top: calc(0px + 61px) !important;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px 10% 0px 0px;
}
.freeBox__tKbp > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.freeBox__tKbp > :global(.__wab_flex-container) > *,
.freeBox__tKbp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tKbp > :global(.__wab_flex-container) > picture > img,
.freeBox__tKbp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tKbp {
    max-width: none;
    margin-top: calc(0px + 61px) !important;
    padding: 0px 0% 0px 0px;
  }
}
.text__riDvk {
  position: relative;
  width: 100%;
  height: auto;
  border-left-style: solid;
  border-left-width: 4px;
  padding-left: 5%;
  color: var(--token-h6RawRnEP);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__riDvk {
    padding-left: 20px;
  }
}
.text__tIhBq {
  width: 100%;
  height: auto;
  color: var(--token-h6RawRnEP);
  min-width: 0;
  padding: 0px 0% 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__tIhBq {
    padding: 0px 0% 0px 0px;
  }
}
.img__o59B9 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: flex-start;
  transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  transform-style: preserve-3d;
}
.img__o59B9 > picture > img {
  object-fit: cover;
}
.img__o59B9 > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__o59B9 * {
  transform-style: preserve-3d;
}
.art {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .art {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #ffffff;
    flex-column-gap: 0px;
    min-width: 0;
  }
}
.text2 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  margin-top: calc(0px - 61px);
  height: calc(100% + 61px);
}
.text2 > :global(.__wab_flex-container) > *,
.text2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.text2 > :global(.__wab_flex-container) > picture > img,
.text2 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 61px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text2 {
    padding: var(--token-NBv66ILA2);
  }
}
.h2__j6ODu {
  width: auto;
  height: auto;
  color: var(--token-XhAnDcyiC);
  background: url("./images/vector1Png.png") top 50% left 0% / cover no-repeat;
  font-family: "Marydale";
  text-align: center;
  line-height: 0.82;
  align-self: flex-end;
  text-transform: uppercase;
  padding: var(--token-xu09rnoJl) var(--token-xu09rnoJl) var(--token-xu09rnoJl)
    197px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__j6ODu {
    padding: var(--token-xu09rnoJl) var(--token-NBv66ILA2);
  }
}
.freeBox__evr0O {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__evr0O {
    display: flex;
    flex-direction: column;
    flex-column-gap: 0px;
  }
}
.img__b5SyT {
  object-fit: contain;
  max-width: 100%;
  align-self: flex-start;
}
.img__b5SyT > picture > img {
  object-fit: contain;
}
.img__b5SyT > .__wab_img-spacer > img {
  object-fit: contain;
}
.freeBox__vkkrl {
  flex-direction: column;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 60%;
  padding-right: 10%;
  margin: 0px;
}
.freeBox__vkkrl > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.freeBox__vkkrl > :global(.__wab_flex-container) > *,
.freeBox__vkkrl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vkkrl > :global(.__wab_flex-container) > picture > img,
.freeBox__vkkrl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vkkrl {
    max-width: none;
    padding: 0px 0% 0px 0px;
  }
}
.text__fPiOe {
  position: relative;
  width: 100%;
  height: auto;
  border-left-style: solid;
  border-left-width: 4px;
  padding-left: 5%;
  color: var(--token-h6RawRnEP);
  padding-top: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__fPiOe {
    padding-left: 20px;
  }
}
.text__th4Rs {
  width: 100%;
  height: auto;
  color: var(--token-h6RawRnEP);
  min-width: 0;
  padding: 0px 0% 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__th4Rs {
    padding: 0px 0% 0px 0px;
  }
}
.art2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .art2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #ffffff;
    flex-column-gap: 0px;
    min-width: 0;
  }
}
.text3 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  margin-top: calc(0px - 61px);
  height: calc(100% + 61px);
}
.text3 > :global(.__wab_flex-container) > *,
.text3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.text3 > :global(.__wab_flex-container) > picture > img,
.text3 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 61px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text3 {
    padding: var(--token-NBv66ILA2);
  }
}
.h2__xeHqo {
  width: auto;
  height: auto;
  color: var(--token-XhAnDcyiC);
  background: url("./images/vector1Png.png") top 50% left 0% / cover no-repeat;
  font-family: "Marydale";
  text-align: center;
  line-height: 0.82;
  align-self: flex-end;
  text-transform: uppercase;
  padding: var(--token-xu09rnoJl) var(--token-xu09rnoJl) var(--token-xu09rnoJl)
    197px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__xeHqo {
    padding: var(--token-xu09rnoJl) var(--token-NBv66ILA2);
  }
}
.freeBox__jjAuq {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jjAuq {
    display: flex;
    flex-direction: column;
    flex-column-gap: 0px;
  }
}
.freeBox__upko1 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 60%;
  padding-right: 10%;
  margin: 0px;
}
.freeBox__upko1 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.freeBox__upko1 > :global(.__wab_flex-container) > *,
.freeBox__upko1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__upko1 > :global(.__wab_flex-container) > picture > img,
.freeBox__upko1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__upko1 {
    max-width: none;
    padding: 0px 0% 0px 0px;
  }
}
.text__h314L {
  width: 100%;
  height: auto;
  color: var(--token-h6RawRnEP);
  min-width: 0;
  padding: 0px 0% 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__h314L {
    padding: 0px 0% 0px 0px;
  }
}
.text__qqFwj {
  position: relative;
  width: 100%;
  height: auto;
  border-left-style: solid;
  border-left-width: 4px;
  padding-left: 5%;
  color: var(--token-h6RawRnEP);
  padding-top: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__qqFwj {
    padding-left: 20px;
  }
}
.img__ztB8 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: flex-end;
  transform: none;
}
.img__ztB8 > picture > img {
  object-fit: cover;
}
.img__ztB8 > .__wab_img-spacer > img {
  object-fit: cover;
}
.text4 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text4 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  margin-top: calc(0px - 61px);
  height: calc(100% + 61px);
}
.text4 > :global(.__wab_flex-container) > *,
.text4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.text4 > :global(.__wab_flex-container) > picture > img,
.text4 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 61px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text4 {
    padding: 0px;
  }
}
.h2__uB4B {
  width: auto;
  height: auto;
  color: var(--token-XhAnDcyiC);
  background: url("./images/vector1Png.png") top 50% left 0% / cover no-repeat;
  font-family: "Marydale";
  text-align: center;
  line-height: 0.82;
  align-self: flex-end;
  text-transform: uppercase;
  padding: var(--token-xu09rnoJl) var(--token-xu09rnoJl) var(--token-xu09rnoJl)
    197px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__uB4B {
    padding: var(--token-xu09rnoJl) var(--token-NBv66ILA2)
      var(--token-xu09rnoJl) 82px;
  }
}
.freeBox__r2Gwt {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: url("./images/stickers15Png.png") top 50% left 90% / 10% auto no-repeat,
    url("./images/stickers191Png2.png") top 50% left 0% / contain no-repeat;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__r2Gwt {
    display: flex;
    flex-direction: column;
    background: url("./images/stickers15Png.png") top 50% left 90% / 10% auto no-repeat;
    flex-column-gap: 0px;
  }
}
.freeBox__xWsbC {
  flex-direction: column;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 60%;
  padding-right: 10%;
  margin: 0px;
}
.freeBox__xWsbC > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.freeBox__xWsbC > :global(.__wab_flex-container) > *,
.freeBox__xWsbC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xWsbC > :global(.__wab_flex-container) > picture > img,
.freeBox__xWsbC
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xWsbC {
    max-width: none;
    padding: 0px 0% 0px 0px;
  }
}
.text___2Q27Q {
  width: 100%;
  height: auto;
  color: var(--token-h6RawRnEP);
  min-width: 0;
  padding: 0px 0% 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___2Q27Q {
    padding: 0px 0% 0px 0px;
  }
}
.text___7JzMe {
  position: relative;
  width: 100%;
  height: auto;
  border-left-style: solid;
  border-left-width: 4px;
  padding-left: 5%;
  color: var(--token-h6RawRnEP);
  padding-top: 0px;
  transform: translateX(-200px) translateY(0px) translateZ(0px);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___7JzMe {
    padding-left: 20px;
    transform: none;
  }
}
.text___2MtTn {
  width: 100%;
  height: auto;
  color: var(--token-h6RawRnEP);
  min-width: 0;
  padding: 0px 0% 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___2MtTn {
    padding: 0px 0% 0px 0px;
  }
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
