.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  min-width: 0;
  min-height: 0;
}
.header:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.roadmapDesktop {
  background: rgba(255, 255, 255, 1);
  width: 1440px;
  height: 814px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .roadmapDesktop {
    display: block;
    flex-direction: column;
    width: 100%;
    height: 1467px;
    flex-column-gap: 0px;
    min-width: 0;
    flex-shrink: 0;
  }
}
.case20 {
  background: url("./images/case20.png") center center / cover no-repeat;
  width: 393px;
  height: 564px;
  display: block;
  position: absolute;
  top: 120px;
  left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .case20 {
    position: absolute;
    left: 4px;
    top: 491px;
  }
}
.figmaPaste {
  display: block;
  position: absolute;
  width: 251px;
  height: 175px;
  left: 0px;
  top: 0px;
}
.phase1TheFirstApparitionOfTheSailorHappenedInTheStreetsOfParisOutOfRaphaelFedericisMindAbandonedWallClosedShopRuinedBuildingTheSailorHasNoLimitInvadingTheCityTheCountryAndAll5Continent {
  display: block;
  font-size: undefinedpx;
  text-transform: uppercase;
  letter-spacing: 0em;
  line-height: 18px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: -60px;
  left: 82px;
  width: 215px;
  height: auto;
  background: #ffffff;
  padding: 8px;
  border: 2px solid #000000;
}
@media (min-width: 0px) and (max-width: 768px) {
  .phase1TheFirstApparitionOfTheSailorHappenedInTheStreetsOfParisOutOfRaphaelFedericisMindAbandonedWallClosedShopRuinedBuildingTheSailorHasNoLimitInvadingTheCityTheCountryAndAll5Continent {
    position: absolute;
    left: 43px;
    top: -353px;
    z-index: 4;
  }
}
.text {
  display: block;
  font-size: undefinedpx;
  text-transform: uppercase;
  letter-spacing: 0em;
  line-height: 18px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 387px;
  left: 81px;
  width: 224px;
  height: auto;
  background: #ffffff;
  z-index: 6;
  padding: 8px;
  border-width: 2px;
  border-style: solid;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text {
    left: 28px;
    top: -21px;
    position: absolute;
  }
}
.case22 {
  background: url("./images/case22.png") center center / cover no-repeat;
  width: 390px;
  height: 277px;
  display: block;
  position: absolute;
  top: 122px;
  left: 413px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .case22 {
    position: absolute;
    left: 3px;
    top: 187px;
  }
}
.case21 {
  background: url("./images/case21.png") center center / cover no-repeat;
  width: 738px;
  height: 288px;
  display: block;
  position: absolute;
  top: 402px;
  left: 416px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .case21 {
    position: absolute;
    left: 12px;
    top: 963px;
    bottom: auto;
    right: auto;
    display: none;
  }
}
.phase4LaunchOfTheCollectionRevealOfTheLegendaryLaunchOfARaritySniperHoldersOfTheNftWillBePrivateEventForHoldersInParisPurchaseOfAnIslandToGiveawayToTheCommunityPurchaseOfABoatToGiveawayToTheCommunityStartOfTheSailorComics2 {
  display: block;
  font-size: undefinedpx;
  text-transform: uppercase;
  letter-spacing: 0em;
  line-height: 18px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 185px;
  left: 863px;
  width: 350px;
  height: auto;
  background: #ffffff;
  z-index: 7;
  padding: 8px;
  border-width: 2px;
  border-style: solid;
}
@media (min-width: 0px) and (max-width: 768px) {
  .phase4LaunchOfTheCollectionRevealOfTheLegendaryLaunchOfARaritySniperHoldersOfTheNftWillBePrivateEventForHoldersInParisPurchaseOfAnIslandToGiveawayToTheCommunityPurchaseOfABoatToGiveawayToTheCommunityStartOfTheSailorComics2 {
    position: absolute;
    left: 29px;
    top: 1274px;
  }
}
.img {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: 806px;
  top: 121px;
  z-index: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img {
    position: absolute;
    left: 90px;
    top: 1408px;
    display: none !important;
  }
}
.case25 {
  background: url("./images/case25.png") center center / cover no-repeat;
  width: 373px;
  height: 198px;
  display: block;
  position: absolute;
  top: 34px;
  left: 1044px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .case25 {
    position: absolute;
    left: 17px;
    top: 1076px;
    bottom: auto;
    right: auto;
  }
}
.case24 {
  background: url("./images/case24.png") center center / cover no-repeat;
  width: 268px;
  height: 288px;
  display: block;
  position: absolute;
  top: 402px;
  left: 1149px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .case24 {
    position: absolute;
    left: 1148px;
    top: 496px;
  }
}
.phase3TheSailorIsFreeAndHasNoFrontierThatsWhyRaphaelFedericiProposeToBeCoProducterOfTheSailorsComicsAnimatedSeriesByOwningASailorNftLaunchOfTheSocialMediaAndPrivateDiscordLivePaintingOfRaphaelFedericiMeditationCoursesAndMore {
  display: block;
  font-size: undefinedpx;
  text-transform: uppercase;
  line-height: 18px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 308px;
  left: 487px;
  width: 230px;
  height: auto;
  background: #ffffff;
  z-index: 1;
  padding: 8px;
  border-width: 2px;
  border-style: solid;
}
@media (min-width: 0px) and (max-width: 768px) {
  .phase3TheSailorIsFreeAndHasNoFrontierThatsWhyRaphaelFedericiProposeToBeCoProducterOfTheSailorsComicsAnimatedSeriesByOwningASailorNftLaunchOfTheSocialMediaAndPrivateDiscordLivePaintingOfRaphaelFedericiMeditationCoursesAndMore {
    position: absolute;
    left: 50px;
    top: 888px;
  }
}
