.root {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    background: none;
  }
}
.header:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.heroSection {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 634px;
  max-width: 100%;
  background: url("./images/sailor21Png.png") top 50% left 50% / contain no-repeat;
  flex-shrink: 0;
  flex-grow: 1;
  min-width: 0;
  padding: var(--token-GwLpY0L1k);
}
@media (min-width: 0px) and (max-width: 768px) {
  .heroSection {
    background: url("./images/sailor21Png.png") top 100% left 50% / contain no-repeat;
  }
}
.scrollParallax:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__hsHBj {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 260px;
}
.img__hsHBj > picture > img {
  object-fit: cover;
}
.img__hsHBj > .__wab_img-spacer > img {
  object-fit: cover;
}
.argumentSection {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  padding-top: var(--token-GNJGzP5bB);
  min-width: 0;
}
.childhood {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: auto;
  max-width: 100%;
  background: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .childhood {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-column-gap: 0px;
    min-width: 0;
  }
}
.freeBox__dDCi9 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__dDCi9 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-l01UNgJZS));
  height: calc(100% + var(--token-l01UNgJZS));
}
.freeBox__dDCi9 > :global(.__wab_flex-container) > *,
.freeBox__dDCi9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dDCi9 > :global(.__wab_flex-container) > picture > img,
.freeBox__dDCi9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-l01UNgJZS);
}
.h2__uiT5 {
  width: 374px;
  height: auto;
  color: var(--token-XhAnDcyiC);
  background: url("./images/frame9.svg") top 50% left 50% / contain no-repeat;
  font-family: "Marydale";
  text-align: center;
  line-height: 0.82;
  padding: var(--token-xu09rnoJl);
}
.text__tIhBq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-h6RawRnEP);
  min-width: 0;
}
.illustration {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__uWzku {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__uWzku > picture > img {
  object-fit: cover;
}
.img__uWzku > .__wab_img-spacer > img {
  object-fit: cover;
}
.argumentSection2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 0px;
}
.childhood2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: auto;
  max-width: 100%;
  background: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .childhood2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-column-gap: 0px;
    min-width: 0;
  }
}
.text2 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-l01UNgJZS));
  height: calc(100% + var(--token-l01UNgJZS));
}
.text2 > :global(.__wab_flex-container) > *,
.text2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.text2 > :global(.__wab_flex-container) > picture > img,
.text2 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: var(--token-l01UNgJZS);
}
.h2__bcF5 {
  width: 374px;
  height: auto;
  color: var(--token-XhAnDcyiC);
  background: url("./images/frame7.svg") top 50% left 50% / contain no-repeat;
  font-family: "Marydale";
  text-align: center;
  line-height: 0.82;
  padding: var(--token-xu09rnoJl);
}
.text__kLvy1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-h6RawRnEP);
  min-width: 0;
}
.illustration2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__kx027 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__kx027 > picture > img {
  object-fit: cover;
}
.img__kx027 > .__wab_img-spacer > img {
  object-fit: cover;
}
.argumentSection3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 0px;
}
.childhood3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 60%;
  height: auto;
  max-width: 100%;
  background: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .childhood3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-column-gap: 0px;
    min-width: 0;
  }
}
.text3 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-l01UNgJZS));
  height: calc(100% + var(--token-l01UNgJZS));
}
.text3 > :global(.__wab_flex-container) > *,
.text3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.text3 > :global(.__wab_flex-container) > picture > img,
.text3 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: var(--token-l01UNgJZS);
}
.h2__zDiG1 {
  width: 374px;
  height: auto;
  color: var(--token-XhAnDcyiC);
  background: url("./images/frame4.svg") top 50% left 50% / contain no-repeat;
  font-family: "Marydale";
  text-align: center;
  line-height: 0.82;
  padding: var(--token-xu09rnoJl);
}
.text__wyvfg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-h6RawRnEP);
  min-width: 0;
}
.illustration3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__c30K1 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__c30K1 > picture > img {
  object-fit: cover;
}
.img__c30K1 > .__wab_img-spacer > img {
  object-fit: cover;
}
.argumentSection4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 0px 0px var(--token-GNJGzP5bB);
}
.childhood4 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: auto;
  max-width: 100%;
  background: var(--token-XhAnDcyiC);
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .childhood4 {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-column-gap: 0px;
    min-width: 0;
  }
}
.text4 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text4 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-l01UNgJZS));
  height: calc(100% + var(--token-l01UNgJZS));
}
.text4 > :global(.__wab_flex-container) > *,
.text4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.text4 > :global(.__wab_flex-container) > picture > img,
.text4 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: var(--token-l01UNgJZS);
}
.h2__veCfh {
  width: 374px;
  height: auto;
  color: var(--token-XhAnDcyiC);
  background: url("./images/frame3.svg") top 50% left 50% / contain no-repeat;
  font-family: "Marydale";
  text-align: center;
  line-height: 0.82;
  padding: var(--token-xu09rnoJl);
}
.text__ltO5L {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-h6RawRnEP);
  min-width: 0;
}
.illustration4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__t6Qsj {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__t6Qsj > picture > img {
  object-fit: cover;
}
.img__t6Qsj > .__wab_img-spacer > img {
  object-fit: cover;
}
