.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--token-h6RawRnEP);
  min-width: 0;
  min-height: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
.header:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.section {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  flex-shrink: 0;
  height: auto;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 42px;
    padding-bottom: 42px;
    flex-shrink: 1;
    flex-column-gap: 0px;
  }
}
.scroll {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  max-width: 100%;
  overflow: auto;
  flex-shrink: 0;
  flex-grow: 0;
  max-height: 850px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .scroll {
    width: 100%;
    max-height: none;
    min-width: 0;
  }
}
.freeBox {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-shrink: 1;
  min-width: 0;
  padding: 0px;
}
._1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__femV {
  object-fit: contain;
  max-width: 100%;
  width: 200px;
}
.img__femV > picture > img {
  object-fit: contain;
}
.img__femV > .__wab_img-spacer > img {
  object-fit: contain;
}
._2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__gApNi {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 200px;
}
.img__gApNi > picture > img {
  object-fit: cover;
}
.img__gApNi > .__wab_img-spacer > img {
  object-fit: cover;
}
._3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.img__xrL44 {
  object-fit: cover;
  max-width: 100%;
  width: 200px;
}
.img__xrL44 > picture > img {
  object-fit: cover;
}
.img__xrL44 > .__wab_img-spacer > img {
  object-fit: cover;
}
._4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__yQgj {
  object-fit: contain;
  max-width: 100%;
  width: 200px;
}
.img__yQgj > picture > img {
  object-fit: contain;
}
.img__yQgj > .__wab_img-spacer > img {
  object-fit: contain;
}
._5 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__kDkwn {
  object-fit: contain;
  max-width: 100%;
  width: 200px;
}
.img__kDkwn > picture > img {
  object-fit: contain;
}
.img__kDkwn > .__wab_img-spacer > img {
  object-fit: contain;
}
._6 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__tQuem {
  object-fit: cover;
  max-width: 100%;
  width: 200px;
}
.img__tQuem > picture > img {
  object-fit: cover;
}
.img__tQuem > .__wab_img-spacer > img {
  object-fit: cover;
}
._7 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__nhMl {
  object-fit: contain;
  max-width: 100%;
  width: 200px;
}
.img__nhMl > picture > img {
  object-fit: contain;
}
.img__nhMl > .__wab_img-spacer > img {
  object-fit: contain;
}
._8 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__iJhm1 {
  object-fit: contain;
  max-width: 100%;
  width: 200px;
}
.img__iJhm1 > picture > img {
  object-fit: contain;
}
.img__iJhm1 > .__wab_img-spacer > img {
  object-fit: contain;
}
._9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__yeN {
  object-fit: contain;
  max-width: 100%;
  width: 200px;
}
.img__yeN > picture > img {
  object-fit: contain;
}
.img__yeN > .__wab_img-spacer > img {
  object-fit: contain;
}
._10 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__edNl {
  object-fit: contain;
  max-width: 100%;
  width: 200px;
}
.img__edNl > picture > img {
  object-fit: contain;
}
.img__edNl > .__wab_img-spacer > img {
  object-fit: contain;
}
._11 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__iobXq {
  object-fit: contain;
  max-width: 100%;
  width: 200px;
}
.img__iobXq > picture > img {
  object-fit: contain;
}
.img__iobXq > .__wab_img-spacer > img {
  object-fit: contain;
}
._12 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__usjLc {
  object-fit: contain;
  max-width: 100%;
  width: 200px;
}
.img__usjLc > picture > img {
  object-fit: contain;
}
.img__usjLc > .__wab_img-spacer > img {
  object-fit: contain;
}
._13 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__qJkDy {
  object-fit: contain;
  max-width: 100%;
  width: 200px;
}
.img__qJkDy > picture > img {
  object-fit: contain;
}
.img__qJkDy > .__wab_img-spacer > img {
  object-fit: contain;
}
._14 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__hj4Nr {
  object-fit: contain;
  max-width: 100%;
  width: 200px;
}
.img__hj4Nr > picture > img {
  object-fit: contain;
}
.img__hj4Nr > .__wab_img-spacer > img {
  object-fit: contain;
}
._15 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__o7F {
  object-fit: contain;
  max-width: 100%;
  width: 200px;
}
.img__o7F > picture > img {
  object-fit: contain;
}
.img__o7F > .__wab_img-spacer > img {
  object-fit: contain;
}
._16 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__m6KOg {
  object-fit: contain;
  max-width: 100%;
  width: 200px;
}
.img__m6KOg > picture > img {
  object-fit: contain;
}
.img__m6KOg > .__wab_img-spacer > img {
  object-fit: contain;
}
._17 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__gKzsu {
  object-fit: contain;
  max-width: 100%;
  width: 200px;
}
.img__gKzsu > picture > img {
  object-fit: contain;
}
.img__gKzsu > .__wab_img-spacer > img {
  object-fit: contain;
}
._18 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img___8QKio {
  object-fit: contain;
  max-width: 100%;
  width: 200px;
}
.img___8QKio > picture > img {
  object-fit: contain;
}
.img___8QKio > .__wab_img-spacer > img {
  object-fit: contain;
}
.column1 {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 40%;
  height: auto;
  max-width: 100%;
  overflow: auto;
  display: none;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column1 {
    width: 100%;
    min-width: 0;
  }
}
.column2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 60%;
  height: 100%;
  max-width: 100%;
  min-height: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column2 {
    width: 100%;
    min-width: 0;
  }
}
.focus {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .focus {
    width: 100%;
    min-width: 0;
  }
}
.img__cgBtW {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
  z-index: 1;
  width: 100%;
  min-width: 0;
}
.img__cgBtW > picture > img {
  object-fit: cover;
}
.img__cgBtW > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__cgBtW {
    position: relative;
    left: auto;
    top: auto;
    right: auto;
  }
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .footer:global(.__wab_instance) {
    max-width: 100%;
    position: relative;
  }
}
