.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-end;
  align-items: center;
  max-width: 1327px;
  min-width: 0;
  padding: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    flex-shrink: 0;
    max-width: none;
    height: auto;
    background: var(--token-XhAnDcyiC);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-column-gap: 0px;
  }
}
.navigationBar:global(.__wab_instance) {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navigationBar:global(.__wab_instance) {
    height: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    position: relative;
    left: auto;
    top: auto;
    flex-row-gap: 0px;
    min-height: 0;
  }
}
.link__itcKm {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.linklight__itcKmBLk3V {
  filter: blur(0px);
}
.img__mQ91N {
  object-fit: cover;
  height: 40px;
}
.img__mQ91N > picture > img {
  object-fit: cover;
}
.img__mQ91N > .__wab_img-spacer > img {
  object-fit: cover;
}
.link__rHjKa {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.linklight__rHjKabLk3V {
  filter: blur(0px);
}
.img__ayRbm {
  object-fit: cover;
  height: 40px;
}
.img__ayRbm > picture > img {
  object-fit: cover;
}
.img__ayRbm > .__wab_img-spacer > img {
  object-fit: cover;
}
.imglight__ayRbmbLk3V {
  display: none !important;
}
.img__b4Qlz {
  object-fit: cover;
}
.img__b4Qlz > picture > img {
  object-fit: cover;
}
.img__b4Qlz > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__xRx6F {
  object-fit: cover;
}
.img__xRx6F > picture > img {
  object-fit: cover;
}
.img__xRx6F > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox {
    display: flex;
    flex-direction: column;
    padding: 48px 0px 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 115px);
    height: calc(100% + 115px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox > :global(.__wab_flex-container) > *,
  .freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox > :global(.__wab_flex-container) > picture > img,
  .freeBox
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 115px;
  }
}
.menuCont {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuCont {
    display: flex;
    flex-direction: column;
    flex-column-gap: 0px;
  }
}
.link__p31H1 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  background: url("./images/menuBg1Svg.svg") top 50% left 50% / contain no-repeat;
  color: #ffffff;
  font-family: "Marydale";
  padding: 16px 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__p31H1 {
    text-align: center;
  }
}
.rootlight .linklight__p31H1BLk3V:hover {
  background: url("./images/frame14.svg") top 50% left 50% / contain no-repeat;
}
.link__gWQk8 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  background: url("./images/frame17.svg") top 50% left 50% / contain no-repeat;
  color: #ffffff;
  font-family: "Marydale";
  padding: 16px 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__gWQk8 {
    text-align: center;
  }
}
.rootlight .linklight__gWQk8BLk3V:hover {
  background: url("./images/frame10.svg") top 50% left 50% / contain no-repeat;
}
.link__u03Ge {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  background: url("./images/frame15.svg") top 50% left 50% / contain no-repeat;
  color: #ffffff;
  font-family: "Marydale";
  padding: 16px 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__u03Ge {
    text-align: center;
  }
}
.rootlight .linklight__u03GeBLk3V:hover {
  background: url("./images/frame13.svg") top 50% left 50% / contain no-repeat;
}
.link__bFdFf {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  background: url("./images/frame17.svg") top 50% left 50% / contain no-repeat;
  color: #ffffff;
  font-family: "Marydale";
  padding: 16px 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__bFdFf {
    text-align: center;
  }
}
.rootlight .linklight__bFdFfbLk3V:hover {
  color: #ffffff;
  background: url("./images/frame13.svg") top 50% left 50% / contain no-repeat;
}
.link__qbgp {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  background: url("./images/frame15.svg") top 50% left 50% / contain no-repeat;
  color: #ffffff;
  font-family: "Marydale";
  padding: 16px 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__qbgp {
    text-align: center;
  }
}
.rootlight .linklight__qbgpBLk3V:hover {
  background: url("./images/frame14.svg") top 50% left 50% / contain no-repeat;
}
.link__u2Ot5 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  background: url("./images/frame13.svg") top 50% left 50% / contain no-repeat;
  color: #ffffff;
  font-family: "Marydale";
  display: none;
  padding: 16px 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__u2Ot5 {
    text-align: center;
  }
}
