.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.header:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__qQwM6 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: url("./images/vectorpng.png") top 10% left 0% / 25% auto no-repeat,
    url("./images/fichierDeTravail281.png") left 86% bottom 0% / 10% auto no-repeat,
    url("./images/maquetteFinalLdPage00791.jpeg") left 0% bottom 100% / cover;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qQwM6 {
    background: url("./images/maquetteFinalLdPage00791.jpeg") left 0% bottom 100% / cover;
    margin-bottom: 27px;
  }
}
.slider:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  position: relative;
  min-width: 0;
}
.slide1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 50vh;
}
.freeBox___4ISf {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  flex-shrink: 0;
  flex-grow: 1;
  min-height: 75vh;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4ISf {
    flex-grow: 1;
  }
}
.freeBox__ugwGx {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: url("./images/vector38.svg") 0% 0% / 100% 99% no-repeat;
  width: auto;
  max-width: 40%;
  height: 400px;
  padding: var(--token-hP4aaKaTz);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ugwGx {
    max-width: 100vw;
  }
}
.freeBox__ac8Pe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 298px;
  height: auto;
  background: url("./images/frame3.svg") top 50% left 50% / cover repeat;
  transform: translateX(-157px) translateY(0px) translateZ(0px);
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ac8Pe {
    transform: none;
  }
}
.text__abkqx {
  position: relative;
  width: auto;
  height: auto;
  color: var(--token-XhAnDcyiC);
}
.freeBox__vcLoX {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.text__lB5Bt {
  height: auto;
  text-align: center;
  color: var(--token-h6RawRnEP);
  width: 381px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__lB5Bt {
    max-width: 95vw;
  }
}
.slide2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 50vh;
}
.freeBox___5DeFd {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  flex-shrink: 0;
  flex-grow: 1;
  min-height: 75vh;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5DeFd {
    flex-grow: 1;
  }
}
.freeBox___2MxAi {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: url("./images/vector38.svg") 0% 0% / 100% 99% no-repeat;
  width: auto;
  max-width: 40%;
  height: 400px;
  padding: var(--token-hP4aaKaTz);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2MxAi {
    max-width: 100vw;
  }
}
.freeBox__nkRQo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 298px;
  height: auto;
  background: url("./images/frame3.svg") top 50% left 50% / cover repeat;
  transform: translateX(-157px) translateY(0px) translateZ(0px);
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nkRQo {
    transform: none;
  }
}
.text__vx7ED {
  position: relative;
  width: auto;
  height: auto;
  color: var(--token-XhAnDcyiC);
}
.freeBox__tdYdh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.text__tgSpm {
  height: auto;
  text-align: center;
  color: var(--token-h6RawRnEP);
  width: 381px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__tgSpm {
    max-width: 95vw;
  }
}
.slide3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 50vh;
}
.freeBox__bibg9 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  flex-shrink: 0;
  flex-grow: 1;
  min-height: 75vh;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bibg9 {
    flex-grow: 1;
  }
}
.freeBox__cTvDm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: url("./images/vector38.svg") 0% 0% / 100% 99% no-repeat;
  width: auto;
  max-width: 40%;
  height: 400px;
  padding: var(--token-hP4aaKaTz);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cTvDm {
    max-width: 100vw;
  }
}
.freeBox__qUblf {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 298px;
  height: auto;
  background: url("./images/frame3.svg") top 50% left 50% / cover repeat;
  transform: translateX(-157px) translateY(0px) translateZ(0px);
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qUblf {
    transform: none;
  }
}
.text__iJnHz {
  position: relative;
  width: auto;
  height: auto;
  color: var(--token-XhAnDcyiC);
}
.freeBox__oco7H {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.text__drsJ4 {
  height: auto;
  text-align: center;
  color: var(--token-h6RawRnEP);
  width: 381px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__drsJ4 {
    max-width: 95vw;
  }
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .footer:global(.__wab_instance) {
    max-width: 100%;
    position: relative;
  }
}
