.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--token-h6RawRnEP);
  min-width: 0;
  min-height: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
.header:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.section {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  flex-shrink: 0;
  height: auto;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 42px;
    padding-bottom: 42px;
    flex-shrink: 1;
    flex-column-gap: 0px;
  }
}
.scroll {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  max-width: 100%;
  overflow: auto;
  flex-shrink: 0;
  flex-grow: 0;
  max-height: 850px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .scroll {
    width: 100%;
    max-height: none;
    min-width: 0;
  }
}
.freeBox {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-shrink: 1;
  min-width: 0;
  padding: 0px;
}
._1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__oqpaV {
  object-fit: contain;
  max-width: 100%;
  width: 200px;
}
.img__oqpaV > picture > img {
  object-fit: contain;
}
.img__oqpaV > .__wab_img-spacer > img {
  object-fit: contain;
}
._2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__o7Sd7 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 200px;
}
.img__o7Sd7 > picture > img {
  object-fit: cover;
}
.img__o7Sd7 > .__wab_img-spacer > img {
  object-fit: cover;
}
._3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.img__gjAlh {
  object-fit: cover;
  max-width: 100%;
  width: 200px;
}
.img__gjAlh > picture > img {
  object-fit: cover;
}
.img__gjAlh > .__wab_img-spacer > img {
  object-fit: cover;
}
._4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__mxfE6 {
  object-fit: contain;
  max-width: 100%;
  width: 200px;
}
.img__mxfE6 > picture > img {
  object-fit: contain;
}
.img__mxfE6 > .__wab_img-spacer > img {
  object-fit: contain;
}
._5 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__fh35G {
  object-fit: contain;
  max-width: 100%;
  width: 200px;
}
.img__fh35G > picture > img {
  object-fit: contain;
}
.img__fh35G > .__wab_img-spacer > img {
  object-fit: contain;
}
._6 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__u5Ojr {
  object-fit: cover;
  max-width: 100%;
  width: 200px;
}
.img__u5Ojr > picture > img {
  object-fit: cover;
}
.img__u5Ojr > .__wab_img-spacer > img {
  object-fit: cover;
}
._7 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img___2IHjJ {
  object-fit: contain;
  max-width: 100%;
  width: 200px;
}
.img___2IHjJ > picture > img {
  object-fit: contain;
}
.img___2IHjJ > .__wab_img-spacer > img {
  object-fit: contain;
}
._8 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img___4HrFg {
  object-fit: contain;
  max-width: 100%;
  width: 200px;
}
.img___4HrFg > picture > img {
  object-fit: contain;
}
.img___4HrFg > .__wab_img-spacer > img {
  object-fit: contain;
}
._9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img___6Ai3B {
  object-fit: contain;
  max-width: 100%;
  width: 200px;
}
.img___6Ai3B > picture > img {
  object-fit: contain;
}
.img___6Ai3B > .__wab_img-spacer > img {
  object-fit: contain;
}
._10 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__jePmY {
  object-fit: contain;
  max-width: 100%;
  width: 200px;
}
.img__jePmY > picture > img {
  object-fit: contain;
}
.img__jePmY > .__wab_img-spacer > img {
  object-fit: contain;
}
._11 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__hYud2 {
  object-fit: contain;
  max-width: 100%;
  width: 200px;
}
.img__hYud2 > picture > img {
  object-fit: contain;
}
.img__hYud2 > .__wab_img-spacer > img {
  object-fit: contain;
}
._12 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__ybPF {
  object-fit: contain;
  max-width: 100%;
  width: 200px;
}
.img__ybPF > picture > img {
  object-fit: contain;
}
.img__ybPF > .__wab_img-spacer > img {
  object-fit: contain;
}
.column1 {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 40%;
  height: auto;
  max-width: 100%;
  overflow: auto;
  display: none;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column1 {
    width: 100%;
    min-width: 0;
  }
}
.column2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 60%;
  height: 100%;
  max-width: 100%;
  min-height: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column2 {
    width: 100%;
    min-width: 0;
  }
}
.focus {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .focus {
    width: 100%;
    min-width: 0;
  }
}
.focusImage:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  z-index: 1;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .focusImage:global(.__wab_instance) {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
  }
}
.focusImage__wvUj8:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.slider:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  position: relative;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  min-width: 0;
  display: none;
}
.img___9GIqa {
  object-fit: cover;
  max-width: 100%;
}
.img___9GIqa > picture > img {
  object-fit: cover;
}
.img___9GIqa > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__qq55Q {
  object-fit: cover;
  max-width: 100%;
}
.img__qq55Q > picture > img {
  object-fit: cover;
}
.img__qq55Q > .__wab_img-spacer > img {
  object-fit: cover;
}
.img___4DKgB {
  object-fit: cover;
  max-width: 100%;
}
.img___4DKgB > picture > img {
  object-fit: cover;
}
.img___4DKgB > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__cmoJx {
  object-fit: cover;
  max-width: 100%;
}
.img__cmoJx > picture > img {
  object-fit: cover;
}
.img__cmoJx > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__quRiu {
  object-fit: cover;
  max-width: 100%;
}
.img__quRiu > picture > img {
  object-fit: cover;
}
.img__quRiu > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__eZxgm {
  object-fit: cover;
  max-width: 100%;
}
.img__eZxgm > picture > img {
  object-fit: cover;
}
.img__eZxgm > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__m6Xyp {
  object-fit: cover;
  max-width: 100%;
}
.img__m6Xyp > picture > img {
  object-fit: cover;
}
.img__m6Xyp > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__hnIb {
  object-fit: cover;
  max-width: 100%;
}
.img__hnIb > picture > img {
  object-fit: cover;
}
.img__hnIb > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__ba6Ik {
  object-fit: cover;
  max-width: 100%;
}
.img__ba6Ik > picture > img {
  object-fit: cover;
}
.img__ba6Ik > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__wrwXp {
  object-fit: cover;
  max-width: 100%;
}
.img__wrwXp > picture > img {
  object-fit: cover;
}
.img__wrwXp > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__x627K {
  object-fit: cover;
  max-width: 100%;
}
.img__x627K > picture > img {
  object-fit: cover;
}
.img__x627K > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__uli67 {
  object-fit: cover;
  max-width: 100%;
}
.img__uli67 > picture > img {
  object-fit: cover;
}
.img__uli67 > .__wab_img-spacer > img {
  object-fit: cover;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .footer:global(.__wab_instance) {
    max-width: 100%;
    position: relative;
  }
}
