.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-xCJwSuBjk);
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.header:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox___6AUqV {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-GwLpY0L1k) 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6AUqV {
    display: flex;
    flex-direction: column;
    padding-top: var(--token-l01UNgJZS);
    padding-bottom: var(--token-l01UNgJZS);
    flex-column-gap: 0px;
  }
}
.freeBox___1JiFx {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 25%;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1JiFx {
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 0;
  }
}
.img___3XSwN {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 33%;
}
.img___3XSwN > picture > img {
  object-fit: contain;
}
.img___3XSwN > .__wab_img-spacer > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___3XSwN {
    width: 80%;
    margin-top: var(--token-GNJGzP5bB);
    margin-bottom: var(--token-GNJGzP5bB);
  }
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-XhAnDcyiC);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text {
    text-align: center;
  }
}
.freeBox___3HR87 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__iVfJ {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 100%;
  max-width: 100%;
  min-height: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iVfJ {
    width: 100%;
    min-width: 0;
  }
}
.slider:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  position: relative;
  min-width: 0;
}
.img__qKf9L {
  object-fit: cover;
  max-width: 100%;
  width: 50%;
}
.img__qKf9L > picture > img {
  object-fit: cover;
}
.img__qKf9L > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__hpsri {
  object-fit: cover;
  max-width: 100%;
  width: 50%;
}
.img__hpsri > picture > img {
  object-fit: cover;
}
.img__hpsri > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__aBVq {
  object-fit: cover;
  max-width: 100%;
  width: 50%;
}
.img__aBVq > picture > img {
  object-fit: cover;
}
.img__aBVq > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__cL2P {
  object-fit: cover;
  max-width: 100%;
  width: 50%;
}
.img__cL2P > picture > img {
  object-fit: cover;
}
.img__cL2P > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__aSu3P {
  object-fit: cover;
  max-width: 100%;
  width: 50%;
}
.img__aSu3P > picture > img {
  object-fit: cover;
}
.img__aSu3P > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__piyH {
  object-fit: cover;
  max-width: 100%;
  width: 50%;
}
.img__piyH > picture > img {
  object-fit: cover;
}
.img__piyH > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__hTKv {
  object-fit: cover;
  max-width: 100%;
  width: 50%;
}
.img__hTKv > picture > img {
  object-fit: cover;
}
.img__hTKv > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__i1MGc {
  object-fit: cover;
  max-width: 100%;
  width: 50%;
}
.img__i1MGc > picture > img {
  object-fit: cover;
}
.img__i1MGc > .__wab_img-spacer > img {
  object-fit: cover;
}
