.root {
  width: auto;
  height: auto;
  max-width: 800px;
  background: url("./images/frame15.svg") top 50% left 50% / contain no-repeat;
  color: #ffffff;
  font-family: "Marydale";
  position: relative;
  display: inline-block;
  padding: 16px 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    color: #ffffff;
    text-align: center;
  }
}
